<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>addClient</servlet-name>
        <servlet-class>servlets.tables.clients.AddClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addClient</servlet-name>
        <url-pattern>/addClient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>clients</servlet-name>
        <servlet-class>servlets.tables.clients.ClientsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clients</servlet-name>
        <url-pattern>/clients</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>indexS</servlet-name>
        <servlet-class>servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexS</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editClient</servlet-name>
        <servlet-class>servlets.tables.clients.EditClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editClient</servlet-name>
        <url-pattern>/editClient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tables</servlet-name>
        <servlet-class>servlets.TablesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tables</servlet-name>
        <url-pattern>/tables</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>partners</servlet-name>
        <servlet-class>servlets.tables.partners.PartnersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>partners</servlet-name>
        <url-pattern>/partners</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addPartner</servlet-name>
        <servlet-class>servlets.tables.partners.AddPartnerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPartner</servlet-name>
        <url-pattern>/addPartner</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editPartner</servlet-name>
        <servlet-class>servlets.tables.partners.EditPartnerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editPartner</servlet-name>
        <url-pattern>/editPartner</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>service</servlet-name>
        <servlet-class>servlets.tables.add_services.ServicesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>service</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addService</servlet-name>
        <servlet-class>servlets.tables.add_services.AddServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addService</servlet-name>
        <url-pattern>/addService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editService</servlet-name>
        <servlet-class>servlets.tables.add_services.EditServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editService</servlet-name>
        <url-pattern>/editService</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>buildings</servlet-name>
    <servlet-class>servlets.tables.buildings.BuildingsServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>buildings</servlet-name>
        <url-pattern>/buildings</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addBuilding</servlet-name>
        <servlet-class>servlets.tables.buildings.AddBuildingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBuilding</servlet-name>
        <url-pattern>/addBuilding</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editBuilding</servlet-name>
        <servlet-class>servlets.tables.buildings.EditBuildingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editBuilding</servlet-name>
        <url-pattern>/editBuilding</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>roomtypes</servlet-name>
        <servlet-class>servlets.tables.room_types.RoomTypesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>roomtypes</servlet-name>
        <url-pattern>/roomtypes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addRoomType</servlet-name>
        <servlet-class>servlets.tables.room_types.AddRoomTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addRoomType</servlet-name>
        <url-pattern>/addRoomType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editRoomType</servlet-name>
        <servlet-class>servlets.tables.room_types.EditRoomTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editRoomType</servlet-name>
        <url-pattern>/editRoomType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rooms</servlet-name>
        <servlet-class>servlets.tables.rooms.RoomsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rooms</servlet-name>
        <url-pattern>/rooms</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addRoom</servlet-name>
        <servlet-class>servlets.tables.rooms.AddRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addRoom</servlet-name>
        <url-pattern>/addRoom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editRoom</servlet-name>
        <servlet-class>servlets.tables.rooms.EditRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editRoom</servlet-name>
        <url-pattern>/editRoom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>reservations</servlet-name>
        <servlet-class>servlets.tables.reservations.ReservationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reservations</servlet-name>
        <url-pattern>/reservations</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addReservation</servlet-name>
        <servlet-class>servlets.tables.reservations.AddReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addReservation</servlet-name>
        <url-pattern>/addReservation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editReservation</servlet-name>
        <servlet-class>servlets.tables.reservations.EditReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editReservation</servlet-name>
        <url-pattern>/editReservation</url-pattern>
    </servlet-mapping>
</web-app>